name: SquireWeb CI

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

env:
  CARGO_TERM_COLOR: always

jobs:
  squire_web_build_tests:
    name: Build Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, beta, nightly]
    steps:
      - uses: hecrj/setup-rust-action@v2
        with:
          rust-version: ${{ matrix.rust }}
          components: rustfmt
          targets: wasm32-unknown-unknown
      - uses: actions/checkout@v4
      - run: wget -qO- https://github.com/thedodd/trunk/releases/download/v0.16.0/trunk-x86_64-unknown-linux-gnu.tar.gz | tar -xzf-
      - run: pwd >> $GITHUB_PATH
      - run: cargo fmt --check --manifest-path squire_web/Cargo.toml
      - run: cargo build --manifest-path squire_web/Cargo.toml --verbose
      #FIXME: - run: cargo test --package squire_web --target=wasm32-unknown-unknown --verbose
      - run: cargo doc --manifest-path squire_web/Cargo.toml --verbose
      - run: trunk build squire_web/index.html
