name: SquireCore CI

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

env:
  CARGO_TERM_COLOR: always

jobs:
  squire_core_build_tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: [nightly]
        os: [ubuntu-latest]
    steps:
      - uses: hecrj/setup-rust-action@v2
        with:
          rust-version: ${{ matrix.rust }}
          components: rustfmt
          targets: wasm32-unknown-unknown
      - uses: actions/checkout@v4
      - name: Fetch Trunk
        uses: jetli/trunk-action@v0.4.0
        with:
          version: 'latest'
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@v1.10.0
        with:
          mongodb-version: '6.0'
      - run: cargo fmt --check --package squire_core
      - run: cargo build --package squire_core --verbose
      - run: cargo test --package squire_core --verbose --features="db-tests"
      - run: cargo doc --package squire_core --verbose
